* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --navy: #1F2937;
    --pink: #DA6AEC;
    --red: #F43F5E;
    --blue: #2F74DC;
    --green: #22CD90;

    /* Theme Variables */
    --light-bg: #F0F9FF;
    --light-text: #0C4A6E;
    --light-header-bg: #E0F2FE;

    --dark-bg: #0C4A6E;
    --dark-text: #F0F9FF;
    --dark-header-bg: #075985;
}

body {
    background-color: #2F2F2F;
    font-family: 'Karla', sans-serif;
}

/* Avatar Styles */
.avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.3rem solid white;
}

.avatar > img {
    width: 100%;
}

.avatar--letters {
    background-color: var(--red);
    color: white;
    font-size: 2.5rem;
}

.avatar--icon {
    background-color: var(--navy);
}

.avatar > svg {
    height: 100%;
    width: 100%;
    transform: translateY(20px);
    color: whitesmoke;
}

/* Theme Classes */
.light-theme {
    background-color: var(--light-bg);
    color: var(--light-text);
}

.dark-theme {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

/* Header Styles */
header {
    height: 6rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

header.light-theme {
    background-color: var(--light-header-bg);
}

header.dark-theme {
    background-color: var(--dark-header-bg);
}

header h1 {
    margin: 0;
}

/* Button Styles */
button {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    font-weight: 700;
    padding: 9px 17px;
    border-radius: 6px;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: 1rem;
    border: 1px solid;
}

button:focus {
    outline: none;
}

button.light-theme {
    border-color: var(--light-text);
    background-color: var(--light-bg);
    color: var(--light-text);
}

button.dark-theme {
    border-color: var(--dark-text);
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

/* Container Styles */
.container {
    height: 100vh;
}

/* Color Utility Classes */
.navy {
    background-color: var(--navy);
}

.pink {
    background-color: var(--pink);
}

.red {
    background-color: var(--red);
}

.blue {
    background-color: var(--blue);
}

.green {
    background-color: var(--green);
}